
<script>
    function hidediv(event){
        var flag=document.getElementById('test').checked;
        if (flag){
           document.getElementById('hide').style.display = 'none';
           document.getElementById('show').style.display = 'block';
        }
        else{
            document.getElementById('show').style.display = 'none';
	    document.getElementById('hide').style.display = 'block';
  	}

    }
    function button1click(){
      document.getElementById('button1text').innerHTML="Button 1 Clicked"
    }
    function button2click(){
      document.getElementById('button2text').innerHTML="Button 2 Clicked"
    }
    
</script>
<body>
<div>
<input id='button1' type="button" onClick="button1click()" value="button1"/><br/>
<p id="button1text"></p>

</div>

